{{!-- <section id="section2" class="panel">panel 2</section> --}}
<section class="hero-work">
<div id="work-green">
    <h1>Work</h1>
</div>
<div id="pencil">
    <img src="images/pencil.png" alt="Pencil">
</div>
<div id="intro-work">
    <h5>Here' is a selection of some recent projects.
         </br>
          </br>
        You can see more desgin on Behance.</h5>
</div>
</section>
<section id="project" class="panel">
    
    <div class="each-project">

        <!-- loop through all our team members and put their info on the page -->
        {{#each work}} 
        <img src="images/{{background}}" alt="background image" id="work-background">

        {{!-- This is like a JS for Each loop --}}
        <div class="work-panel"> 
            <h2 id="project-name">{{Project}}</h2>
            <h3 id="my-role">{{Role}}</h3>
            <p id="project-detail">{{Detail}}</p>
            <a href="{{Link}}" class ="seemore-button"> See more</a>    
        </div>

        {{/each}}
        
    </div>
    </div>
</section>

