{{!-- <section id="section2" class="panel">panel 2</section> --}}
<section id="project" class="panel">
    <div class="team">
        <!-- loop through all our team members and put their info on the page -->
        {{#each work}} 
        {{!-- This is like a JS for Each loop --}}
        <div class="user-panel"> 
            <h2>{{Project}}</h2>
            <h3>{{Role}}</h3>
            <h4>{{Detail}}</h4>
            <h4>{{Link}}</h4>
            <a href="{{ID}}" class ="u-link"> See more</a>    
        </div>

        {{/each}}
        
    </div>
    </div>
</section>

